<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am a dedicated Mechanical Engineering student at Florida Polytechnic University with a specialized focus in Aerospace. 
          Currently, I hold the esteemed position of President within our American Society of Mechanical Engineers chapter, 
          actively contributing to the growth and development of the engineering community on campus. 
          Moreover, I actively engage as an Undergrad Student Research Assistant, exploring innovative solutions and pushing the 
          boundaries of knowledge in my field. My passion for cutting-edge technology and hands-on experience led me to take charge of 
          managing the university's advanced 3D print lab. Here, I lead a team overseeing more than 30 printers and efficiently process 
          approximately 2000 prints annually. My commitment to excellence in both academics and 
          extracurricular activities drives me to continuously seek new challenges and opportunities for growth. 
          I thrive in collaborative environments and take pride in my contributions to the advancement of engineering at my university and beyond.</p>
      </div>
      <div class="col-lg-4">
        <p>While my primary focus lies in Mechanical Engineering, my passion for STEM extends to almost all its facets. 
          I possess a strong enthusiasm for continuous learning and eagerly contribute wherever I can. 
          My diverse projects showcase my keen interest in programming, circuitry, and production, reflecting my well-rounded 
          involvement in various aspects of the STEM field.  </p>
      </div>
      
    </div>
  </div>
</section>
