<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a student at Florida Polytechnic University studying Mechanical Engineering with a Concentration in Aerospace. 
          I am the President of our American Society of Mechanical Engineers chapter, an Undergrad Student Research assistant, 
          and I manage the university’s 3D print lab, where I oversee over 30 printers and process about 2000 prints a year.</p>
      </div>
      <div class="col-lg-4">
        <p>Although my focus is Mechanical Engineering, I am passionate about nearly all aspects of STEM. 
          I love to learn and help where I can, and my projects help to show my interest in programming, circuitry, and production.  </p>
      </div>
      
    </div>
  </div>
</section>
