<!-- Resume Section -->
<section class="success" id="resume">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Resume</h2>
          <hr class="star-light">
        </div>
      </div>
      <span class="row">
        <center>
        <object data= “pdfs\Matthew_DeCicco_Resume(10-4).pdf” type=”application/pdf” width=”80%” height=”500px” >
            <p>Unable to display PDF file. <a style="color:DodgerBlue;" href="pdfs\Matthew_DeCicco_Resume(7-28).pdf">Download</a> instead.</p> 
        </object> 
        </center>
    </span>
    </div>
  </section>